.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
  }

  .logo-link img {
    max-width: 100%;
    height: auto;
    max-height: 50px; /* 원하는 최대 높이를 설정 */
    margin-right: 8px; /* 텍스트와 이미지 간격 */
  }

  .logo-text {
    white-space: nowrap;
  }